
h1 {
    text-align: center;
    font-family: 'Bangers';
    margin-top:40px !important;
    line-height: 1 !important;
}


#myCanvas{
    background-color: rgb(255, 255, 255);
    border-width: thin;
}

#mainDiv{
    vertical-align:top;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

#timerDiv{
    position: fixed; 
    margin-top: 3%;
    margin-left: 22%;
    font-size: 16px;
    transform: translate(-50%, -50%);
}

#buttonsDiv{
    position: fixed;
    left: 19%;
    transform: translate(-50%, -50%);
    margin-top:7%;
}

#summary{
    vertical-align:top;
    visibility: hidden;
    margin-left: 40%;
    display: inline-block;}

#summaryText{
    font-family: 'Bangers';
    font-size: 1.6em;
}

*{
    margin: 0;
    padding: 0;
}

.background-image{
    background-image: url(../images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



