h1 {
    text-align: center;
    font-family: 'Bangers';
    margin-top:40px !important;
    line-height: 1 !important;
}


#myCanvas{
    background-color: rgb(255, 255, 255);
    border-color: yellow;
    border-width: thin;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }

.video-container video
{
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
}

#mainDiv{
    position: fixed;
    top: 45%;
    left: 50%;
    /* -webkit-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    /* justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 2; */
    /* margin-top: 16%; */
}

#timerDiv{
    position: fixed;
    margin-top: 3%;
    /* top: 90%; */
    left: 16%;
    /* font-size: 16px; */
    transform: translate(-50%, -50%);
}

#buttonsDiv{
    position: fixed;
    padding-top: 15%;
    /* top: 95%; */
    left: 12%;
    transform: translate(-50%, -50%);
}


#summary{
    visibility: hidden;
    margin-left: 40%;
}

#summaryText{
    /* display: inline-block; */
    font-family: 'Bangers';
    font-size: 1.6em;
}


