h1 {
    text-align: center;
    margin-top: 3%;
}

#myCanvas{
    background-color: black;
    border-color: yellow;
    border-width: thin;
}

#mainDiv{
    position: fixed;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#buttonsDiv{
  margin-top: 10%;
  width: 50%;  
  padding: 10px;
}

#summary{
    text-align: center;
    margin-top: 3%;
    visibility: hidden;
}